/*.main{
    border: 2px solid black;
}*/
.face{
    height: 300px;
    width: 300px;
    background: lavender;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    margin-left: 460px;
    margin-top: -80px;
    
}
.eyes{
    display:flex;
    justify-content: space-evenly;
    padding-top: 90px;
}
.leye{
    height:40px;
    width:40px;
    background:black;
    border-radius: 50%;
}
.reye{
    height:40px;
    width:40px;
    background:black;
    border-radius: 50%;
}
.sleye{
    height:15px;
    width:15px;
    background:white;
    border-radius: 50%;
    margin: auto;
    margin-top: 30%;
}
.sreye{
    height:15px;
    width:15px;
    background:white;
    border-radius: 50%;
    margin:auto;
    margin-top: 30%;
}
.nose{
    display:flex;
    justify-content: space-evenly;
    height: 40px;
    width: 80px;
    background:pink;
    margin: auto;
    margin-top: 20%;
    border: 3px solid black;
    border-radius: 50px;
}
.lnose{
    height:20px;
    width:20px;
    background:black;
    border-radius: 50%;
    margin: right 50px;
    margin-top: 10px;
}
.rnose{
    height:20px;
    width:20px;
    background:black;
    border-radius: 50%;
    margin: left 50px;
    margin-top: 10px;
}
.ears{
    width: 450px;
    margin:auto;
    display: flex;
    justify-content:space-evenly;
    
}
.lear{
   
    height: 100px;
    width: 80px;
    background:pink;
    border: 3px solid black;
    border-radius: 50px;
}
.rear{
    
    height: 100px;
    width: 80px;
    background:pink;
    border: 3px solid black;
    border-radius: 50px;
}